<p id="notice"><%= notice %></p>

<%= render @post %>

<h2> Comments</h2>
<div id="comments">
  <%= render @post.comments %>
</div>

<%= form_for [@post,Comment.new], remote: true do |f| %>
<p>
    <%= f.label :body, "New Comment" %><br/>
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %> </p>
<% end %>


<%= link_to 'Back', comments_path %>
